<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Create</title>
</head>
<body>
  <h1>글 작성이 완료되었습니다.</h1>
  <h2>글 내용은 다음과 같습니다.</h2>
  <h3>
    <%= @title %>
  </h3><br />
  <p>
    <%= @content %>
  </p><br />
  <a href="/">HOME</a>
</body>
</html>
