<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Read</title>
</head>
<h1><%= @post.title %></h1>
<p>
  ID: <%= @post.id %> / TIME:  <%= @post.created_at %>
</p>
<p>
  <%= @post.content %>
</p><br />
<a href="/">HOME</a>
</html>
