<form action="/user/create">
  <div class="form-group">
    <label for="exampleFormControlInput1">작성자</label>
    <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="작성자를 입력하세요.">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">제 목</label>
    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요.">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">내 용</label>
    <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="container" style="padding-top: 30px">
    <button class="btn btn-outline-success" type="submit">SUBMIT</button>
  </div>
</form>
