<div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><%= @bamboo.title %></h4>
  <p>작성자: <%= @bamboo.username %> / <%= @bamboo.created_at %></p>
  <hr>
  <p class="mb-0"><%= @bamboo.content%></p>
</div>
