<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8"/>
    <title>2일차 프로젝트</title>
  </head>
  <body>
    <h3> Main Page </h3>
    <h4><%= (1..1000).to_a.sample %>번째 방문자 입니다.</h4>
    
  </body>
</html>
