<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>op.gg</title>
  </head>
  <body>
    <form action="/lol">
      소환사 명: <input type="text" name="username" />
      <input type="submit" value="결과 확인" />
    </form>
  </body>
</html>
