<form action="/post/create">
  <div class="form-group">
    <label for="exampleFormControlInput1">작성자</label>
    <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="이름을 입력하세요.">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">제목</label>
    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요.">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">내용</label>
    <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group" float="right">
    <button type="submit" class="btn btn-primary btn-sm">제출</button>
    <a href="/"><button type="button" class="btn btn-primary btn-sm">취소</button></a>
  </div>
</form>
