<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>작성완료</title>
</head>
  <h2>제목</h2>
  <h3><%= @title %></h3><br />
  <hr />
  내용:<br />
  <p>
    <%= @content %>
  </p>
  <a href = "/"> main으로 돌아가기</a>
</html>
