<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>게시판</title>
</head>
<body>
  <h1>임베디드 대나무숲</h1>
  <form action= "/complete">
    제목:  <input type="text" name="title" /><br>
    내용:  <input type="text" name="content" />
    <input type="submit" value="작성완료" />
  </form>
</body>
</html>
