<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>회원가입</title>
</head>
<body>
  <h1>회원가입 창 입니다.</h1>
  <form action="completee">
    ID:  <input type="text" name="id"/><br />
    PW:  <input type="text" name="password" /><br />
    <input type="submit" value="가입" />
  </form>
</body>
</html>
