<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Post</title>
</head>
<body>
  <h1>게시판입니다.</h1>
  <form action="/complete">
    제목:  <input type="text" name="title" /><br />
    내용:  <textarea  name="content" ></textarea><br />
    <input type="submit" value="submit" />
  </form>
</body>
</html>
